@import "colors";
@import "mixins";

html {
    scroll-behavior: smooth;
}

#top-bar {
    background-color: $primary-color;

    li {
        font-size: 1.2rem;
    }

    a {
        color: white;
        @include transition(color, 0.5s, ease);

        &:hover {
            color: $secondary-color;
            text-decoration: none;
        }
    }
}

.nav-link {
    @include font-bold();
    color: $primary-color;
    @include transition(color, 0.5s, ease);

    &:hover {
        color: $secondary-color;
    }
}

.btn-link {
    @include font-bold();
    cursor: pointer !important;
    padding: .8em !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: $primary-color !important;
    color: white !important;
    @include transition(all, 0.5s, ease);

    &:hover {
        color: $secondary-color !important;
        box-shadow: 0 0 5px black !important;
        text-decoration: none;
    }
}

header {
    min-height: 100vh;
    background: linear-gradient(
        rgba(black, .6), rgba(black, .6)), 
        url("/assets/img/hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        @include font-bold();
        font-size: 3rem;

        @media only screen and (max-width: 320px) {
            font-size: 2.5rem;
        }
    }
}

.navbar {
    button {
        border: 2px solid $primary-color;

        .fa-bars {
            color: $primary-color;
        }
    }
}

#a-propos,
#services,
#contact,
#noip,
#noip-domaines,
#inscription {
    h2, h3 {
        color: $primary-color;
    }

    h2 {
        @include font-bold();
        font-size: 2.5rem;
    }

    li {
        color: $secondary-color;
    }
}

.card {
    cursor: pointer;
    @include transition(all, 0.5s, ease);

    &:hover {
        box-shadow: 2px 2px 5px rgba($primary-color, .4) !important;
    }
}

#services,
#noip-domaines {
    background: linear-gradient(rgba($primary-color, .1), rgba($primary-color, .1));

    img {
        width: 300px;
    }
}

#noip-domaines {
    h3 {
        font-size: 2rem;
    }
}

#contact {
    textarea {
        resize: none !important;
    }
}

footer {
    background-color: $primary-color;
    color: white;

    a {
        color: white;
        @include transition(color, 0.5s, ease);

        &:hover {
            color: $secondary-color;
            text-decoration: none;
        }
    }

    hr {
        border-color: white;
        width: 100px;
        border-width: 3px;
    }

    .container {
        p {
            @media only screen and (max-width: 425px) {
                width: 100% !important;
            }
        }
    }

    .fa {
        color: $secondary-color;
    }

    .icon {
        font-size: 1.5rem !important;
    }
}